/* Hintergrundbild Hauptseite */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
    width: 100%;
}

/* Navigationsleiste erhält einen schwarzen Hintergrund */
.navbar {
    background-color: black ;
}
/* Haupttext Hauptseite*/
.hero_title {
    font-size: 4.5rem;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.hero_desc {
    font-size: 2rem;
    color: white;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Beschreibung des Bildes in der "Über mich"-Sektion */
.imageAboutPage {
    width: 100%;
    height: 100%;
}
/* Farbanpassung der Links, da die Regel der Navigationsleiste aus Bootstrap übernommen sind, muss sie mit !important übersteuert werden */
.nav-link,.navbar-brand{    
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
.nav-link:focus, .nav-link:hover, .navbar-brand:focus, .navbar-brand:hover {
    color: lightgray !important ;
}
/* Anpassung der Karten in der Skills-Sektion */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #001aff;
}
.servicesText:hover {
    border: 1px solid #001aff;
}
/* Anpassen der Social-Media-Ikonen im Footer */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-linkedin:hover {
    color: #ffffff;
}
.fab {
    color: #000000;
}
/* Footer */
#footer {
    background-color: #808080;
    text-align: center;
    bottom: 0;
}
/* Abstand zwischen den Sektionen */
#about, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}